<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.nr.phonegap.pio"
    version="0.3.2">

    <name>Pio Plugin</name>
    
    <description>push io manager custom</description>
    
    <license>Apache 2.0</license>
    
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="com.tigerdirect.td.permission.C2D_MESSAGE" />
        <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.INTERNET"/>
        
        <permission android:name="com.tigerdirect.td.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        
        <intent-filter>
            <action android:name="com.tigerdirect.td.NOTIFICATIONPRESSED" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        
        <receiver android:name="com.pushio.manager.PushIOBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action  android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.tigerdirect.td" />
            </intent-filter>
        </receiver>
        
        <activity android:name="com.pushio.manager.PushIOActivityLauncher" android:exported="true" />
        <service android:name="com.pushio.manager.PushIOGCMIntentService" />
        <service android:name="com.pushio.manager.PushIOEngagementService" />
        
    </config-file>
    
    <!--<source-file src="src/android/lib/android-support-v4.jar" target-dir="libs" />-->
    
    
    
    <!--<source-file src="src/android/lib/PushIOManager.jar" target-dir="libs" />-->
    <source-file src="src/android/manager/BuildConfig.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOConfig.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOActivityLauncher.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOADMBroadcastReceiver.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOSharedPrefs.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOBroadcastReceiver.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOEngagementService.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOManager.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOGCMIntentService.java" target-dir="libs" />
    <source-file src="src/android/manager/PushIOTask.java" target-dir="libs" />
    
    <source-file src="src/android/manager/tasks/PushIOEngagementListener.java" target-dir="libs" />
    <source-file src="src/android/manager/tasks/PushIOEngagementTask.java" target-dir="libs" />
    <source-file src="src/android/manager/tasks/PushIOListener.java" target-dir="libs" />
    <source-file src="src/android/manager/tasks/PushIORegisterTask.java" target-dir="libs" />
    
    
    <source-file src="src/android/manager/trackers/PushIOPublisher.java" target-dir="libs" />
    <source-file src="src/android/manager/trackers/PushIOTracker.java" target-dir="libs" />







</platform>


</plugin>
