<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.nr.phonegap.pio"
    version="0.0.2">

    <name>Pio Plugin</name>
    
    <description>push io manager custom</description>
    
    <license>Apache 2.0</license>
    
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        
        <!--library-->
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        
        <!-- GCM connects to Google Services. -->
        <uses-permission android:name="android.permission.INTERNET"/>
        
        <!-- GCM requires a Google account. -->
        <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
        
        <!-- Keeps the processor from sleeping when a message is received. -->
        <uses-permission android:name="android.permission.WAKE_LOCK"/>
        
        <!-- So the sounds from assets folder could work for notification sounds. -->
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        
        <!--
         Creates a custom permission so only this app can receive its messages.
         NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
         where PACKAGE is the application's package name.
         -->
        <permission
        android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
        <uses-permission
        android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"/>
        
        <!-- This app has permission to register and receive data message. -->
        <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"/>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
        <intent-filter>
            <action android:name="$PACKAGE_NAME.MESSAGE"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.arellomobile.android.push.PushWebview"/>
        
        <activity android:name="com.arellomobile.android.push.MessageActivity"/>
        
        <activity android:name="com.arellomobile.android.push.PushHandlerActivity"/>
        
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"/>
        
        <!--
         BroadcastReceiver that will receive intents from GCM
         services and handle them to the custom IntentService.
         The com.google.android.c2dm.permission.SEND permission is necessary
         so only GCM services can send data messages for the app.
         -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="$PACKAGE_NAME"/>
            </intent-filter>
        </receiver>
        
        <!--
         Application-specific subclass of PushGCMIntentService that will
         handle received messages.
         -->
        <service android:name="com.arellomobile.android.push.PushGCMIntentService"/>
        
        <!--
         Service for sending location updates
         -->
        <service android:name="com.arellomobile.android.push.GeoLocationService"/>
        
        <receiver android:name="com.arellomobile.android.push.AlarmReceiver"></receiver>
        
    </config-file>
    

    <source-file src="src/android/lib/PushIOManager.jar" target-dir="libs" />
    
    <source-file src="src/android/google/android/gcm/GCMBaseIntentService.java"
    target-dir="src/android/google/android/gcm" />
    
    <source-file src="src/android/google/android/gcm/GCMBroadcastReceiver.java"
    target-dir="src/android/google/android/gcm" />
    
    <source-file src="src/android/google/android/gcm/GCMConstants.java"
    target-dir="src/android/google/android/gcm" />
    
    <source-file src="src/android/google/android/gcm/GCMRegistrar.java"
    target-dir="src/android/google/android/gcm" />
    
    
    
    <source-file src="src/android/arellomobile/android/push/AlarmReceiver.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/BasePushMessageReceiver.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/DeviceFeature2_5.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/DeviceRegistrar.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/GeoLocationService.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/MessageActivity.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PackageRemoveReceiver.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PushEventsTransmitter.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PushGCMIntentService.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PushHandlerActivity.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PushManager.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PushServiceHelper.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/PushWebview.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/SendPushTagsCallBack.java"
    target-dir="src/android/arellomobile/android/push" />
    
    <source-file src="src/android/arellomobile/android/push/data/PushZoneLocation.java"
    target-dir="src/android/arellomobile/android/push/data" />
    
    <source-file src="src/android/arellomobile/android/push/preference/SoundType.java"
    target-dir="src/android/arellomobile/android/push/preference" />
    
    <source-file src="src/android/arellomobile/android/push/preference/VibrateType.java"
    target-dir="src/android/arellomobile/android/push/preference" />
    
    <source-file src="src/android/arellomobile/android/push/registrar/PushRegistrar.java"
    target-dir="src/android/arellomobile/android/push/registrar" />
    
    <source-file src="src/android/arellomobile/android/push/registrar/PushRegistrarGCM.java"
    target-dir="src/android/arellomobile/android/push/registrar" />
    
    <source-file src="src/android/arellomobile/android/push/request/ApplicationEventRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/AppOpenRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/AppRemovedRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/GetBeaconsRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/GetNearestZoneRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/GetTagsRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/MessageDeliveredRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/ProcessBeaconRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/PushRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/PushStatRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/RegisterDeviceRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/RequestManager.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/SetTagsRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/TrackInAppRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/request/UnregisterDeviceRequest.java"
    target-dir="src/android/arellomobile/android/push/request" />
    
    <source-file src="src/android/arellomobile/android/push/utils/executor/ExecutorHelper.java"
    target-dir="src/android/arellomobile/android/push/utils/executor" />
    
    <source-file src="src/android/arellomobile/android/push/utils/executor/V11ExecutorHelper.java"
    target-dir="src/android/arellomobile/android/push/utils/executor" />
    
    <source-file src="src/android/arellomobile/android/push/utils/notification/BannerNotificationFactory.java"
    target-dir="src/android/arellomobile/android/push/utils/notification" />
    
    <source-file src="src/android/arellomobile/android/push/utils/notification/BaseNotificationFactory.java"
    target-dir="src/android/arellomobile/android/push/utils/notification" />
    
    <source-file src="src/android/arellomobile/android/push/utils/notification/Helper.java"
    target-dir="src/android/arellomobile/android/push/utils/notification" />
    
    <source-file src="src/android/arellomobile/android/push/utils/notification/SimpleNotificationFactory.java"
    target-dir="src/android/arellomobile/android/push/utils/notification" />
    
    <source-file src="src/android/arellomobile/android/push/utils/GeneralUtils.java"
    target-dir="src/android/arellomobile/android/push/utils" />
    
    <source-file src="src/android/arellomobile/android/push/utils/JsonUtils.java"
    target-dir="src/android/arellomobile/android/push/utils" />
    
    <source-file src="src/android/arellomobile/android/push/utils/PreferenceUtils.java"
    target-dir="src/android/arellomobile/android/push/utils" />
    
    <source-file src="src/android/arellomobile/android/push/utils/RegisterBroadcastReceiver.java"
    target-dir="src/android/arellomobile/android/push/utils" />
    
    <source-file src="src/android/arellomobile/android/push/utils/WorkerTask.java"
    target-dir="src/android/arellomobile/android/push/utils" />

</platform>


</plugin>
